<a href="https://colab.research.google.com/github/hyundooo/hello-world/blob/master/Numpy_Homework1_students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1 - Numpy

For all the questions, print the results with a variable of your choice (e.g., Z)

#### 1. Import the numpy package under the name `np`

In [ ]:
erfawefwef

#### 2. Create a vector with values ranging from 10 to 49

#### 3. Reverse a vector (first element becomes last)

#### 4. Create a 3x3 matrix with values ranging from 0 to 8

#### 5. Find indices of non-zero elements from [1,2,0,0,4,0]

#### 6. Create a 3x3 identity matrix

#### 7. Create a 3x3x3 array with random values

#### 8. Create a 10x10 array with random values and find the minimum and maximum values

#### 9. Create a checkerboard 8x8 matrix using np.array([0,1],[1,0]) and the tile function

#### 10. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)

#### 11. Create a 5x5 matrix with row values ranging from 0 to 4 using tile function as follows:

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

#### 12. Create a 5x5 matrix with row values ranging from 0 to 4 using broadcasting

#### 13. Create a random vector of size 10 and sort it

#### 14. Subtract the mean of each row

X = np.random.rand(5,10)

#### 15. Create, 10 by 10 multiplication table from 1 to 10

#### 16. How to get the diagonal of a dot product? 

A = np.random.uniform(0,1,(5,5))
B = np.random.uniform(0,1,(5,5))

#### 17. Consider the vector [1, 2, 3, 4, 5], how to build a new vector with 3 consecutive zeros interleaved between each value?

#### 18. Consider two arrays A and B of shape (8,3) and (2,2). How to find rows of A that contain elements of each row of B regardless of the order of the elements in B?

A = np.random.randint(0,5,(8,3))
B = np.random.randint(0,5,(2,2))

#### 19. How to swap two rows of an array? Generate an array from 0 to 24, and reshape it 5 by 5 and swap first two rows of the array

#### 20. How to find the most frequent value in an array? 

Z = np.random.randint(0,10,50). hint: np.bincount, np.argmax

#### 21. How to get the n largest values of an array?

start with 
Z = np.arange(10000);
np.random.shuffle(Z)
, Hint: np.argsort

#### 22. Given a two dimensional array, how to extract unique rows? 

Hint: np.unique

#### 23. How to compute averages using a sliding window over an array? 

make a function with two arguments, arry and size of the sliding window, def moving_avg(arr, n)

#### 24. Find the indices of elements from 4 by 4 random matrix (0-1) which are larger than 0.5

Print a list of tuples indicating the index for row and column

#### 25. Write a function returning distance between two points

Test the function to check whether function is working correctly
Hint: There are two arguments of function indicating two points